<nav class="chapter_nav">
  <ul>
    <li><a href="{{ site.baseurl }}/chapters/chapter1.html" class="{% if page.url == '/chapters/chapter1.html' %}active{% endif %}">Chapter 1</a></li>
    <li><a href="{{ site.baseurl }}/chapters/chapter2.html" class="{% if page.url == '/chapters/chapter2.html' %}active{% endif %}">Chapter 2</a></li>
    <li><a href="{{ site.baseurl }}/chapters/chapter3.html" class="{% if page.url == '/chapters/chapter3.html' %}active{% endif %}">Chapter 3</a></li>
    <li><a href="{{ site.baseurl }}/chapters/chapter4.html" class="{% if page.url == '/chapters/chapter4.html' %}active{% endif %}">Chapter 4</a></li>
    <li><a href="{{ site.baseurl }}/chapters/chapter5.html" class="{% if page.url == '/chapters/chapter5.html' %}active{% endif %}">Chapter 5</a></li>
  </ul>
  <h3><span>Chapter {{page.chapter_number}}:</span> {{page.[site.active_lang]title}}</h3>
</nav>
