
<div class="diamond" id="{{ story.id }}">
  <a href="" data-modal="#{{ story.id }}_modal" class="modal__trigger">
    <img src="{{ site.baseurl }}/assets/images/{{ story.image }}" alt="{{ story.title[site.active_lang] }}">
    <span>{{ story.title[site.active_lang] }}</span>
  </a>
</div>

<!-- Modal -->
<div id="{{ story.id }}_modal" class="modal modal__bg" role="dialog" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <h2>{{ story.title[site.active_lang] | strip_html  }}</h2>
      <div id="video_container" class="full--video extra-pop">

        <video id="{{ story.id }}_video" class="video-js vjs-polyzor-skin"
          controls preload="auto" width="640" height="360"
          poster="{{ site.baseurl }}/assets/images/{{ story.previewimg }}"
          data-setup='{
          "aspectRatio":"640:360"
          }'>
          <source src="{{site.baseurl}}/assets/videos/{{story.video}}.mp4" type="video/mp4">
          <source src="{{site.baseurl}}/assets/videos/{{story.video}}.webm" type="video/webm">
        </video>
        <!-- <video
          id="{{ story.id }}"
          class="video-js  vjs-polyzor-skin"
          controls
          width="640" height="264"
          data-setup='{ "fluid":"true",
            "aspectRatio":"640:360",
            "techOrder": ["youtube"],
            "sources": [{
              "type": "video/youtube",
              "src": "https://www.youtube.com/watch?v={{story.youtube}}"}],
              "youtube": { "iv_load_policy": 1 }
            }'>
        </video> -->
      </div>
      <!-- modal close button -->
      <a href="" class="modal__close demo-close">
        <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
      </a>

    </div>
  </div>
</div>
