<header class="site-header" id="head">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <!-- <nav class="main_nav">
        <ul class="{{include.navclass}}">
          <li><a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
          <li><a href="{{ site.baseurl }}/chapters" class="{% if page.url == '/chapters/' %}current{% endif %}">Chapters</a></li>
        </ul>
    </nav> -->

  </div>

</header>
