
{% for theme in site.data.themes %}
  {% if theme.chapter_number == include.chapter_number %}

    <section class="theme theme_{{theme.id}}" id="{{theme.id}}">
      <!-- <div class="bg_overlay"></div> -->
      <figure id="video_player" class="main_video">
        <div id="video_container" class="full--video">
          <!-- <video
            id="{{theme.id}}"
            class="video-js  vjs-polyzor-skin"
            controls
            width="640" height="264"
            data-setup='{ "fluid":"true",
              "aspectRatio":"640:360",
              "techOrder": ["youtube"],
              "sources": [{
                "type": "video/youtube",
                "src": "https://www.youtube.com/watch?v={{theme.youtube}}"}],
                "youtube": { "iv_load_policy": 1 }
              }'>
          </video> -->

          <video id="{{theme.id}}_video" class="video-js  vjs-polyzor-skin"
            controls preload="auto" width="640" height="360"
            poster="{{site.baseurl}}/assets/images/poster_default.jpg"
            data-setup='{  "fluid":"true",
            "aspectRatio":"640:360",
            "techOrder": ["html5","youtube"],
            "sources": [{
              "type": "video/youtube",
              "src": "https://www.youtube.com/watch?v={{theme.youtube}}"}],
              "youtube": { "iv_load_policy": 1 }
            }'>
            <source src="{{site.baseurl}}/assets/videos/{{theme.video}}.mp4" type="video/mp4">
            <source src="{{site.baseurl}}/assets/videos/{{theme.video}}.webm" type="video/webm">
         </video>

        </div>
        <figcaption class="video--caption">
          <header class="theme--header">
            <h2 class="Content-title js-Content-title slideInUp">{{theme.title[site.active_lang]}}</h2>
          </header>
          <p>
            Space for an summary of this particular video, so people can know what to expect from each clip.
          </p>
        </figcaption>
      </figure>

      {% if theme.extras %}
        <aside class="extras">
          <h3>{{ site.data.sitecopy.[site.active_lang]extraheading }}</h3>


          <div class="buttons">

          {% for extra in theme.extras %}
            <a href="" data-modal="#{{extra.video}}_modal" class="extra_card modal__trigger {{extra.type}}">
              <img src="{{site.baseurl}}/assets/images/{{extra.image}}" alt="">
              <div class="caption">
                <h2>{{extra.title[site.active_lang]}}</h2>
                <p>{{extra.oneliner[site.active_lang]}}</p>
              </div>
            </a>
            <!-- Modal -->
          	<div id="{{extra.video}}_modal" class="modal modal__bg" role="dialog" aria-hidden="true">
          		<div class="modal__dialog">
          			<div class="modal__content">
                  <h2>{{extra.title[site.active_lang]}}</h2>
                  <div id="video_container" class="full--video extra-pop">
                    <video id="{{theme.id}}_modal_video" class="video-js vjs-polyzor-skin"
                      controls preload="auto" width="640" height="360"
                      poster="{{site.baseurl}}/assets/images/poster_default.jpg"
                      data-setup='{
                      "aspectRatio":"640:360"
                      }'>
                      <source src="{{site.baseurl}}/assets/videos/{{extra.video}}.mp4" type="video/mp4">
                      <source src="{{site.baseurl}}/assets/videos/{{extra.video}}.webm" type="video/webm">
                    </video>
                  </div>
          				<!-- modal close button -->
          				<a href="" class="modal__close demo-close">
          					<svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
          				</a>

          			</div>
          		</div>
          	</div>
          {% endfor %}

          </div>
        </aside>
      {% endif %}

    </section>
    {% endif %}

{% endfor %}
