.chapter_wrap {

  display: block;
  //overflow: hidden;

  .bgimage {
    position: fixed;
    min-width: 100%;
    height: 200vh;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
  }
  &.chapter1 .bgimage { background-image: url(../images/bg_whatitis.jpg); }
  &.chapter2 .bgimage { background-image: url(../images/bg_transmission.jpg); }
  &.chapter3 .bgimage { background-image: url(../images/bg_prevention.jpg); }
  &.chapter4 .bgimage { background-image: url(../images/bg_treatment.jpg); }
  &.chapter5 .bgimage { background-image: url(../images/bg_communication.jpg); }

}
.header--chapter {
  @include span-columns(12);
  //background-color: rgba(250,50,50,0.2);
  padding-left: 30vw;
  min-height: 60vh;
  text-align: left;
  color: white;
  display: flex;
  align-items: center;

  hgroup {
    h1 {
      //font-size: 3rem;
      font-weight: 400;
      span {
        font-weight: 600;
        font-size: 0.6em;
        display: block;
      }
    }

    p {
      font-size: 1rem;
      font-weight: 100;
      letter-spacing: 0.04em;
    }
  }
}


.theme {
  @include span-columns(12);
  padding: 10vh 3vw 20vh 30vw;
  position: relative;

  .bg_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-size: 100% auto;
    // background-repeat: no-repeat;
    // background-position: fixed;
    // background-image: url(../images/img_mountains02.jpg);
    z-index: -1;
    opacity: 0.4;
  }
  &--header {

    h2 {
      font-weight: 100;
      color: #FFF;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 2.6em;
      margin-bottom: 0.6em;
    }
  }
  // &_21 .bg_overlay { background-image: url(../images/img_mountains02.jpg); }
  // &_22 .bg_overlay { background-image: url(../images/img_mountains03.jpg); }
  // &_23 .bg_overlay { background-image: url(../images/img_mountains04.jpg); }
}


.main_video {
  //@include span-columns(10);
  margin: 0 0 4vh;
  position: relative;

  .video--caption {
    position: absolute;
    top: 6vh;
    left: 6vh;
    height: 80%;
    p {
      width: 28vw;
    }
  }
  &.playing {
    .video--caption {
      animation: captionFade linear 0.6s;
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      transform-origin: center left;
      overflow: hidden;
      height: 3em;
      p {
        //animation: pFade linear 0.3s;
        //animation-fill-mode: forwards;
        //display: none;
      }
    }
  }
  &.paused {
    .video--caption {
      animation: captionFadeIn linear 0.4s;
      animation-fill-mode: forwards;
      p {
        //animation: pFade linear 0.3s;
        //animation-fill-mode: backwards;
        //animation-delay: 2s;
      }
    }
  }

}

@keyframes captionFade {
  0% {
    opacity:1;
    transform:  translate(0px,0);
  }
  40% {
    opacity:0;
    transform:  translate(0px,-1vh);
    height: 3em;
  }
  80% {
    opacity:0;
    transform:  translate(0px,-230%) scale(1.3);
  }
  100% {
    opacity:1;
    transform:  translate(0px,-260%) scale(1.3);
  }
}
@keyframes captionFadeIn {
  0% {
    opacity:1;
    transform:  translate(0px,-160%) scale(1.3);
    }
  30% {
    opacity:0;
    transform:  translate(0px,-160%) scale(1.3);
  }
  40% {
    opacity:0;
    transform:  translate(0px,-1vh) scale(1);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0vh) scale(1);
  }
}


.extras {
  @include span-columns(12);
}
.extra-pop {
  min-width: 70vw;
}
.extra_card {
  @include span-columns(4);
  height: 170px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 43px -3px #474747;
  .caption {
    position: absolute;
    top: 1.2em;
    left: 1.2em;
  }
  h2 {
    font-size: 1em;
    letter-spacing: 0.1em;
    width: 80%;
    line-height: 1.3em;
  }
  p {
    margin-top: 1em;
    font-size: 0.8em;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(3px) brightness(0.7);
    min-height: 100%;
    width: 100%;
    transition: all 0.2s cubic-bezier(0.68, 0.09, 0.81, 0.99);
  }
  &::after {
    display: block;
    content: '\25BA';
    position: absolute;
    top: 1.2em;
    right: 1.2em;
    border-radius: 100%;
    border: 4px solid #fff;
    padding: 0.5em 0.4em 0.5em 0.6em;
    line-height: 1em;
    font-size: 0.8em;
  }
  &.community {
    h2 {
      color: $yellow;
    }
    img {
      filter: blur(2px) hue-rotate(80deg);
    }
  }
  &.audio {
    h2 {
      width: 100%;
    }
    &::after {
      display: block;
      content: 'LISTEN';
      background: url(../images/speaker_Icon.svg) no-repeat left center;
      bottom: 1.4em;
      top: auto;
      left: 1.6em;
      padding: 0.3em 0 0.4em 2.2em;
      line-height: 1em;
      font-size: 0.8em;
      border: none;
      border-radius: 0;
      color: $md-cyan-a400;
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.animation_films {
  @include span-columns(12);
  padding-left: 24vw;
  padding-right: 2vw;
}
  .film1, .film2 {
    @include span-columns(6);
    h2 {
      font-size: 1.6em;
      margin-bottom: 0.4em;
      font-weight: 600;
    }
  }
  .film1 {
    margin-top: 5em;
  }
