---
layout: default
type: chapter
chapter_number: "4"
image: chapter_4_feature.jpg

en:
  title: Treatment
  intro: "Discover how malaria is treated in Vietnam and what challenges it presents for healthcare workers and the community. How long can we rely on malaria drugs and why is drug resistance such a global problem?"

vi:
  title: "Chữa Trị"
  intro: "Khám phá cách điều trị bệnh sốt rét ở Việt Nam và những thách thức nó mang đến cho các nhân viên y tế và cộng đồng. Chúng ta còn có thể dựa vào thuốc sốt rét được bao lâu, và tại sao kháng thuốc là một vấn đề toàn cầu?"
---
<header class="site-header" id="head">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.data.sitecopy.[site.active_lang]sitename }}</a>
  </div>
</header>


<div id="chapter" class="chapter_wrap chapter4">
  <div id="bgimage" class="bgimage"></div>
<aside>
  {% include chapter_nav.html %}
  {% include theme_nav.html chapter_number=page.chapter_number %}
</aside>

<header id="intro" class="header--chapter">
  {% include chapter_head.html %}
</header>

<main class="main" role="main">
  {% include theme_loop.html chapter_number=page.chapter_number %}
</main>
</div>
