---
# Chapter One
#
layout: default
type: chapter
chapter_number: "1"
image: chapter_1_feature.jpg

en:
  title: What it is
  intro: "Investigate how the highly evolved malaria parasite is spread from mosquitoes to humans and back again. It is one of the biggest killers in human history but can we beat it?"
vi:
  title: "Nó là gì"
  intro: "Điều tra cách ký sinh trùng sốt rét đã tiến hoá bị lây truyền từ muỗi sang người và ngược lại. Nó là một trong những kẻ giết người nguy hiểm nhất trong lịch sự loài người, nhưng chúng ta có thể đánh bại được nó không?"
---
<header class="site-header" id="head">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.data.sitecopy.[site.active_lang]sitename }}</a>
  </div>
</header>

<div id="chapter" class="chapter_wrap chapter1">
  <div id="bgimage" class="bgimage"></div>

  <aside>
    {% include chapter_nav.html %}
    {% include theme_nav.html chapter_number=page.chapter_number %}
  </aside>

  <header id="intro" class="header--chapter">
    {% include chapter_head.html %}
  </header>

  <main class="main" role="main">
    {% include theme_loop.html chapter_number=page.chapter_number %}
  </main>
</div>
