---
layout: default
type: chapter
chapter_number: "2"
image: chapter_2_feature.jpg

en:
  title: Transmission
  intro: "Explore the unique conditions that keep this clever disease passing between Anophelene mosquitoes and humans so effectively in such focused areas of Vietnam. What is special about malaria in this country?"
vi:
  title: "Lây Nhiễm"
  intro: "Khám phá những điều kiện đặc biệt khiến căn bệnh khôn ngoan này lây truyền một cách hiệu quả giữa muỗi An-nô-phe và con người tại những vùng đặc thù ở Việt Nam. Điều gì đặc biệt về bệnh sốt rét ở nước này?"
---

<header class="site-header" id="head">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.data.sitecopy.[site.active_lang]sitename }}</a>
  </div>
</header>


<div id="chapter" class="chapter_wrap chapter2">

  <div id="bgimage" class="bgimage"></div>

  <aside>
    {% include chapter_nav.html %}
    {% include theme_nav.html chapter_number=page.chapter_number %}
  </aside>

  <header id="intro" class="header--chapter">
    {% include chapter_head.html %}
  </header>

  <main class="main" role="main">
    {% include theme_loop.html chapter_number=page.chapter_number %}
  </main>
</div>
