---
layout: default
type: chapter
chapter_number: "3"
image: chapter_3_feature.jpg

en:
  title: Prevention
  intro: "Learn more about how malaria is controlled in Vietnam. The methods sound simple so why is it such a complicated disease to control?"
vi:
  title: "Phòng Chống"
  intro: "Tìm hiểu thêm vể cách quản lý sốt rét ở Việt Nam. Các phương pháp nghe thì đơn giản, nhưng tại sao rất khó để quản lý căn bệnh phức tạp này?"
---
<header class="site-header" id="head">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.data.sitecopy.[site.active_lang]sitename }}</a>
  </div>
</header>


<div id="chapter" class="chapter_wrap chapter3">
  <div id="bgimage" class="bgimage"></div>
<aside>
  {% include chapter_nav.html %}
  {% include theme_nav.html chapter_number=page.chapter_number %}
</aside>

<header id="intro" class="header--chapter">
  {% include chapter_head.html %}
</header>

<main class="main" role="main">
  {% include theme_loop.html chapter_number=page.chapter_number %}
</main>
</div>
