---
layout: default
type: chapter
chapter_number: "5"
image: chapter_5_feature.jpg

en:
  title: Communication
  intro: "Hear what we are doing with communication to combat this complicated disease. Is communication the key to eliminating malaria?"
vi:
  title: "Truyền Thông"
  intro: "Hãy nghe những gì chúng tôi đang làm với truyền thông để chống lại căn bệnh phức tạp này. Liệu truyền thông có phải là giải pháp để loại trừ sốt rét?"
---
<header class="site-header" id="head">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.data.sitecopy.[site.active_lang]sitename }}</a>
  </div>
</header>


<div id="chapter" class="chapter_wrap chapter5">
  <div id="bgimage" class="bgimage"></div>
  <aside>
    {% include chapter_nav.html %}
    {% include theme_nav.html chapter_number=page.chapter_number %}
  </aside>

  <header id="intro" class="header--chapter">
    {% include chapter_head.html %}
  </header>

  <main class="main" role="main">
    {% include theme_loop.html chapter_number=page.chapter_number %}
  </main>
</div>
