main {
	position: relative;
	z-index: 2;
  //
	// /* fix bug on iOS */
	height: 100vh;
	// overflow-y: auto;
  //
	-webkit-overflow-scrolling: touch;
  //
	// /* Force Hardware Acceleration in WebKit */
	//@include transform(translateZ(0));
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	@include transition(transform $animation-duration);
	@include transition-timing-function(cubic-bezier(.91,.01,.6,.99));

	.navigation-is-open & {
		@include transform(translateX(100%));
	}

}

.cd-nav-trigger {
	position: fixed;
	z-index: 3;
	left: 3%;
	top: 20px;
	height: 50px;
	width: 50px;
	//background-color: $md-pink-a200;
	border-radius: 50%;
  border: 3px solid #FFF;
	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	@include transition(transform $animation-duration - 0.2s);

	.cd-nav-icon {
		/* icon created in CSS */
		position: absolute;
		@include center; // mixin inside partials > _mixins.scss
		width: 22px;
		height: 3px;
		background-color: #FFF;

		&::before, &:after {
			/* upper and lower lines of the menu icon */
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: inherit;

			/* Force Hardware Acceleration in WebKit */
			@include transform(translateZ(0));
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;

			@include transition(transform $animation-duration - 0.2s, width $animation-duration - 0.2s, top .3s);
		}

		&::before {
			@include transform-origin(right top);
			@include transform(translateY(-6px));
		}

		&::after {
			@include transform-origin(right bottom);
			@include transform(translateY(6px));
		}

	}

	.no-touch &:hover .cd-nav-icon::after {
		top: 2px;
	}

	.no-touch &:hover .cd-nav-icon::before {
		top: -2px;
	}

	svg {
		position: absolute;
		top: 0;
		left: 0;
	}

	circle {
		/* circle border animation */
		@include transition(stroke-dashoffset $animation-duration - 0.3s 0s);
	}

	.navigation-is-open & {
		/* rotate trigger when navigation becomes visible */
		@include transform(rotate(180deg));

		.cd-nav-icon::after,
		.cd-nav-icon::before {
			/* animate arrow --> from hamburger to arrow */
			width: 50%;
			@include transition(transform $animation-duration - 0.2s, width $animation-duration - 0.2s);
		}

		.cd-nav-icon::before {
			@include transform(rotate(45deg));
		}

		.cd-nav-icon::after {
			@include transform(rotate(-45deg));
		}

		.no-touch &:hover .cd-nav-icon::after,
		.no-touch &:hover .cd-nav-icon::before {
			top: 0;
		}

		circle {
			stroke-dashoffset: 0;
			@include transition(stroke-dashoffset $animation-duration - 0.3s 0.3s);
		}
	}

	@include MQ(L) {
		top: 40px;
	}
}

.cd-nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $md-deep-purple-500;
	visibility: hidden;
	@include transition(visibility 0s $animation-duration);

	.cd-navigation-wrapper {
		/* all navigation content */
		height: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		padding: 40px 5% 40px calc(5% + 80px);

		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		@include transform(translateX(-50%));
		@include transition(transform $animation-duration);
		@include transition-timing-function(cubic-bezier(.86,.01,.77,.78));
	}

	.navigation-is-open & {
		visibility: visible;
		@include transition(visibility 0s 0s);

		.cd-navigation-wrapper {
			@include transform(translateX(0));
			@include transition(transform $animation-duration - 0.2s);
			@include transition-timing-function(cubic-bezier(.82,.01,.77,.78));
		}
	}



  nav ul.megamenu {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 10vh 0 0;
  }

  nav ul li:hover ul.megamenu {
    top: 100%;
  }

  /* third stage (child-menus in the mega-menu) */

  nav ul.megamenu ul {
    width: 20%;
    margin: 0 2% 5% 0;
    color: #FFF;
    box-shadow: none;
    @include media(max-width 900px, 6) {
      width: 30%;
    }
    @include media(max-width 700px, 6) {
      width: 45%;
    }
    @include media(min-width 320px max-width 480px, 6) {
      width: 100%;
      margin: 0;
    }
  }

  nav ul.megamenu h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  nav ul.megamenu ul li {
    display: block;
  }

  nav ul.megamenu ul li a {
    margin-top: 10px;
    transition: 0.5s;
    color: #FFF;
  }

  nav ul.megamenu ul li a:hover {
    color: $yellow;
  }

.no-js main {
	height: auto;
	overflow: visible;
}

.no-js .cd-nav {
	position: static;
	visibility: visible;

	.cd-navigation-wrapper {
		height: auto;
		overflow: visible;
		padding: 100px 5%;
		@include transform(translateX(0));
	}
}
}
