---
layout: default
title: Overview
---





<section class="home_chapters">
	<ul id="scene" class="parallax_wrap">

    <li class="layer" data-depth="0.60">
      <div class="background"></div>
    </li>

    <li class="layer" data-depth="0.40">
      <header class="home_header">
        <hgroup>
          <h1>{{ site.data.sitecopy.[site.active_lang]sitename }}</h1>
          <h2>{{ site.data.sitecopy.[site.active_lang]sitetopic }}</h2>
          <p>{{ site.data.sitecopy.[site.active_lang]homepage }}</p>
        </hgroup>
      </header>
    </li>


    <li class="layer" data-depth="0.10">
      <header class="home_subheader">
        <h3>{{ site.data.sitecopy.[site.active_lang]home_chapter_title }}</h3>
        <p>{{ site.data.sitecopy.[site.active_lang]home_chapter_text }}</p>
      </header>
      <div class="carousel_wrap">
        <div id="flat">
          <ul>
            {% for chapter in site.pages %}
              {% if chapter.type =='chapter' %}

              <li>
                <div class="chapter-card" data-depth="0.80">
                  <a href="{{ site.baseurl }}{{chapter.url}}" class="{% if page.url == '/chapters/chapter1.html' %}active{% endif %}">
                    <div data-depth="0.90" class="layer-1"><img src="{{site.baseurl}}/assets/images/{{chapter.image}}" alt="Chapter {{chapter.chapter_number}}: {{ chapter.[site.active_lang]title }}" /></div>
                    <div data-offset="3" class="layer-2">
                      <h2>{{ chapter.[site.active_lang]title }}</h2>
                    </div>

                    <div class="layer-4">
                      <div class="skewed">
                        <p>{{chapter.[site.active_lang]intro | truncatewords: 15 }}</p>
                      </div>
                    </div>
                    <div class="ribbon-1">
                      <h3>{{chapter.chapter_number}}</h3>
                    </div>
                  </a>
                </div>
              </li>

              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

    </li>
  </ul>


</section>


<section class="home_community">

  <header class="home_subheader">
    <h3>{{ site.data.sitecopy.[site.active_lang]home_community_title }}</h3>
    <p>{{ site.data.sitecopy.[site.active_lang]home_community_text }}</p>
  </header>

  <div class="comm_grid cd-section">

    {% for story in site.data.community %}
      {% include community_loop.html %}
    {% endfor %}

  </div>

</section>
